<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
      integrity="sha384-xewr6kSkq3dBbEtB6Z/3oFZmknWn7nHqhLVLrYgzEFRbU/DHSxW7K3B44yWUN60D"
      crossorigin="anonymous"
    />
    <title>Paternoster</title>
  </head>
  <body>
    <div class="col-lg-8 p-3">
      <h2>Paternoster</h2>
      <div class="ui-widget">
        <label for="station">Select station </label>
        <input id="station" />
      </div>
      <div id="lifts"></div>
      <hr />
      <div id="favourites"></div>
      <div>
        Made with data from the
        <a href="https://api.tfl.gov.uk/">Tfl Unified API</a> and the
        <a
          href="https://raildata.org.uk/dashboard/dataProduct/P-acf7efb5-77bd-47ed-be3c-05e4f3d7d6a7/overview"
          >NWR Lifts and Escalators dataset</a
        >
        by <a href="https://tevps.net/">Tom Parker-Shemilt</a>. Source Code is
        available under AGPL3 at
        <a href="https://github.com/palfrey/paternoster">Github</a>.
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"
      integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg="
      crossorigin="anonymous"
    ></script>
    <script>
      function getFavourites() {
        let favourites = Cookies.get("favourites");
        if (favourites === undefined) {
          favourites = [];
        } else {
          favourites = JSON.parse(favourites);
        }
        return favourites.sort();
      }

      function addFavourite(station) {
        const favourites = getFavourites();
        favourites.unshift(station);
        Cookies.set("favourites", JSON.stringify(favourites), {
          sameSite: "strict",
          expires: 365,
        });
        favouritesList();
        liftsElement = document.getElementById("lifts");
        clearChildren(liftsElement);
      }

      function removeFavourite(station) {
        let favourites = getFavourites();
        console.log("existing", favourites);
        const index = favourites.indexOf(station);
        favourites.splice(index, 1);
        console.log("revised", index, station, favourites);
        Cookies.set("favourites", JSON.stringify(favourites), {
          sameSite: "strict",
          expires: 365,
        });
        favouritesList();
      }

      function addliftsBlock(liftsElement, station, data, fromSearch) {
        const holder = document.createElement("span");
        holder.id = "station-" + station.replace(" ", "-");
        if (data.length === 0) {
          const span = document.createElement("span");
          span.innerHTML = "No broken lifts for " + station;
          holder.appendChild(span);
          holder.appendChild(document.createElement("br"));
        } else {
          const message = document.createElement("span");
          message.innerText = "Issues with lifts at";
          holder.appendChild(message);
          const liftList = document.createElement("ul");
          for (const lift of data) {
            const item = document.createElement("li");
            item.innerText = lift["location"];
            if (lift["message"] != "Unknown") {
              item.innerText += " - " + lift["message"];
            }
            liftList.appendChild(item);
          }
          holder.appendChild(liftList);
        }
        let button = document.createElement("button");
        button.setAttribute("type", "button");
        button.setAttribute("class", "btn btn-primary");
        if (fromSearch) {
          button.setAttribute(
            "onClick",
            "javascript:refreshLifts('" + station + "')"
          );
        } else {
          button.setAttribute(
            "onClick",
            "javascript:refreshLifts('" + station + "', '" + holder.id + "')"
          );
        }
        button.innerHTML = "Refresh lifts list";
        holder.appendChild(button);

        button = document.createElement("button");
        button.setAttribute("type", "button");
        button.setAttribute("class", "btn btn-warning");
        const favourites = getFavourites();
        if (favourites.includes(station)) {
          button.setAttribute(
            "onClick",
            "javascript:removeFavourite('" + station + "')"
          );
          button.innerHTML = "Remove favourite";
        } else {
          button.setAttribute(
            "onClick",
            "javascript:addFavourite('" + station + "')"
          );
          button.innerHTML = "Add to favourites";
        }
        holder.appendChild(button);

        liftsElement.appendChild(holder);
        return holder;
      }

      function clearChildren(element) {
        while (true) {
          const child = element.firstChild;
          if (child === null) {
            break;
          }
          console.log("removing", child);
          element.removeChild(child);
        }
      }

      function refreshLifts(station, holder) {
        if (station === undefined) {
          station = document.getElementById("station").value;
        }
        console.log(station);
        $.getJSON(
          "getlifts",
          { station: station },
          function (data, status, xhr) {
            let liftsElement;
            if (holder !== undefined) {
              liftsElement = document.getElementById(holder);
              clearChildren(liftsElement);

              const header = document.createElement("h4");
              header.innerHTML = station;
              liftsElement.appendChild(header);
            } else {
              liftsElement = document.getElementById("lifts");
              clearChildren(liftsElement);
            }
            addliftsBlock(liftsElement, station, data, holder === undefined);
            if (holder !== undefined) {
              liftsElement.appendChild(document.createElement("hr"));
            }
          }
        );
      }

      function favouritesList() {
        const favouriteElement = document.getElementById("favourites");
        clearChildren(favouriteElement);
        const favourites = getFavourites();
        if (favourites.length > 0) {
          for (const favourite of favourites) {
            $.getJSON(
              "getlifts",
              { station: favourite },
              function (data, status, xhr) {
                const holder = addliftsBlock(
                  favouriteElement,
                  favourite,
                  data,
                  false
                );
                const header = document.createElement("h4");
                header.innerHTML = favourite;
                holder.insertBefore(header, holder.firstChild);
                holder.appendChild(document.createElement("hr"));
              }
            );
          }
        }
      }

      $(function () {
        var cache = {};
        $("#station").autocomplete({
          minLength: 2,
          source: function (request, response) {
            var term = request.term;
            if (term in cache) {
              response(cache[term]);
              return;
            }
            $.getJSON("getstations", request, function (data, status, xhr) {
              cache[term] = data;
              response(data);
            });
          },
          select: function (event, ui) {
            refreshLifts(ui.item.value);
          },
        });
        favouritesList();
      });
    </script>
  </body>
</html>
