---
name: CI
on:
  push:
    branches:
    - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - uses: actions/cache@v5
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install python dependencies
      run: |
        pip install -r requirements.txt
    - name: Test app
      env:
        NRW_API_KEY: ${{ secrets.NRW_API_KEY }}
      run: |-
        python app.py

  integration-test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - uses: actions/checkout@v4
    - name: Integration test
      env:
        NRW_API_KEY: ${{ secrets.NRW_API_KEY }}
        COMPOSE_FILE: docker-compose.yml:docker-compose.tests.yml
      run: docker compose up --build --exit-code-from tests
